* {
  margin: 0;
}

.layout {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  min-height: 70px;
  background-color: lightcoral;
}

.middle {
  display: flex;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.body {
  flex: 1 1 100%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

.right {
  /* display: none; */
  background-color: lightblue;
  flex: 1 1 30%;
  min-width: 300px;
}

.footer {
  /* border: 1px solid black; */
  height: auto;
  /* min-height: 100px; */
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: lightsalmon;
}

@media (max-width: 1024px) {
  .right {
    display: none;
  }
}

.card {
  background-color: blueviolet;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 16px;
}

.save_row {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title,
.dock {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid black; */
}

.textarea {
  flex: 1 1 100%;
  padding: 8px;
  font-size: 16px;
  display: flex;
  background-color: tomato;
}

.custom {
  flex: 1 1 100%;
  resize: none; /* Optional: Prevent textarea from being resized */
  border: none; /* Optional: Remove border for a cleaner look */
  background-color: inherit; /* Optional: Inherit background color from .textarea */
  font-size: 16px; /* Optional: Adjust font size */
}
